.body{
    background-color: black;
    font-family: "Poiret One", sans-serif;
    color: white;
} 
.p{
    font-family: "Jost", sans-serif;

}
.container1{
    display: flex;
    gap: 250px;
    justify-content: center;
}
.items{
    border: 5px solid black;
}
.button{
    text-align: center;
    border: 2px solid yellowgreen;
    color: yellowgreen;
    background-color: black;
    margin: 30px -50px 0px 0px ;
    padding: 15px 40px;

}
/* .logo{
    color: white;
} */
.button:hover{
    background-color: yellowgreen;
    color: white;
    border:2px solid white;
}
.container02{
    display: flex;
    /* justify-content: center; */
    margin: 0px 350px;
}
.flex-ul{
    display: flex;
    /* gap: 60px; */
    list-style-type: none;
    color: whitesmoke;
    /* margin: 0px 10px; */
}
.home-li1:hover{
    color: yellowgreen;
    text-decoration:yellowgreen ;
    text-decoration-line: underline;
}
.home-li2:hover{
    color: yellowgreen;
    text-decoration:yellowgreen ;
    text-decoration-line: underline;
}.home-li3:hover{
    color: yellowgreen;
    text-decoration:yellowgreen ;
    text-decoration-line: underline;
}.home-li4:hover{
    color: yellowgreen;
    text-decoration:yellowgreen ;
    text-decoration-line: underline;
}.home-li5:hover{
    color: yellowgreen;
    text-decoration:yellowgreen ;
    text-decoration-line: underline;
}
.container3{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    border: 5px solid black;
    height: 700px;
    width: 100%;
}
.bg-img{
    background-image: url(https://preview.colorlib.com/theme/cakeshop/assets/img/hero/h1_hero1.jpg.webp);
    background-repeat: no-repeat;
    
}
.bgi-font{
    font-family: "Poiret One", sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 190px 700px 0px 20px;
}
.button1{
    background: #E5BF4A;
    border: 1px solid black;
    padding: 22px 41px;
    margin: 0PX;
    font-size: 15px;
    font-weight: 400;
    color:black ;
    line-height: 15px;
}
.button1:hover{
    color: #E5BF4A;
    background-color: black;
    border: 2px solid #E5BF4A;
}
.container4{
    color: #DFDFDF;
    margin: 100px 320px ;
    font-family: "Poiret One", sans-serif;
    display: block;
    text-align: center  !important;
    line-height: 1.3;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 12px;
    font-size: 30px;
}
.container5{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: 40px 60px 40px 30px;
}
.g1{
    color: #E5BF4A;
    margin:30px 160px;
    font-style:normal;
    font-size: 24px;
}
.g1-1{
    margin: 10px 60px 40px 160px;
    font-weight: 100;
    font-size: 14px
}
.container6{
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows: auto  ;
    /* margin: 40px 60px 40px 30px; */
    /* height: 1000px;
    width: 2000px; */
    margin: 40px 0px;

}
.grid-item2{
    /* height: 300px;
    width: 200px; */
    /* border: 2px solid white; */
    display: grid;
    /* margin: 30px;  */
}   
.grid-item2-img{
    /* gap: 550pxpx; */
    /* width: 0px; */
    height: 140px;
     /* padding: 20px; */
    margin: 0px; 
}
.grid-item2-img1{
    margin-left: 120px; 
    /* width: 20px;
    position: relative; */
 } 
 .container6-1{
    display: flex;
    margin: 110px 0px;
    gap: 168px;
 }
 .flex-1{
    margin-left: 120px ;
 }
 .flex-1p{
    font-size: 23px;
    color: #fff;
    font-weight:500;
    line-height: 0.5;
 }
 .container7{
    margin: 100px 0px 0px 0px;
 }
 .bg-img2{
    background-image: url(https://preview.colorlib.com/theme/cakeshop/assets/img/gallery/video-bg.jpg.webp);
    width: 1000px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image-p center; */
    padding: 30px;
    margin: 30px 150px;
 }
 .button2{
    background-color: #E5BF4A;
    border-radius: 50%;
    padding: 35px;
    box-shadow: #E5BF4A;
    margin-top: 200px;
    margin-left: 445px;
 }
 .container8{
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows: auto  ;
    /* border: 1px solid wheat;
    border-right: none;
    border-left: none; */
    width: 1000px;
    align-items: center;
    margin: 20px 100px;
 }  
 .grid-1{
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 300px;
    width: 302px;
    margin: 20px 0px 20px 40px;
    padding: 35px 20px;
    gap: 0px;
    border-right: none;
    border-left: none;
    color:whitesmoke;
    line-height: 1.7;
 }
  .grid-2{
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 300px;
    width: 300px;
    margin: 20px 0px 20px 0px;
    padding: 35px 20px;
    gap: 0px;
    line-height: 1.7;

 }
 .grid-3{
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 300px;
    width: 302px;
    margin: 20px 0px ;
    padding: 35px 20px;
    gap: 0px;
    border-right: none;
    border-left: none;
    line-height: 1.7;
 }
 .container9{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
 }
.grid-4{
    margin: 80px 525px 70px 135px;
 }
 .container10{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin: 0px 0px 140px 0px;
 }
 .grid-5{
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0px;
    /* border: 1px solid wheat; */
    width: 330px;
    height: 370px;
    overflow: hidden;
 }
 .container11{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin: 70px 0px;
 }
 .grid-6{
    margin: 20px 4px ;
    /* border: 1px solid white; */
    width: 265px;
    height: 200px;
 }
.g-img{
    width: 100% !important;
    height: 100% !important;
}
.container13{
    display: flex;
    gap: 330px;
}
.flex-ul{
    display: flex;
    gap: 40px;
    list-style-type: none;
    color: whitesmoke;
    padding: 0px 10px 0px 135px;

}
.container14{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-right: none;
    border-left: none;
    width: 1090px;
    height: 320px;
    margin: 40px 110px;
    font-weight: 100 !important;
}

.g-last{
    /* border: 2px solid wheat; */
    width: 160px !important ;
}
.button3{
    background: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 18px 30px;
    /* margin: 10PX; */
    font-size: 15px;
    font-weight: 400;
    color:white ;
    line-height: 15px;
}
.button3:hover{
    color: #E5BF4A;
    background-color: black;
    border: 1px solid olivedrab;
}
.g2-last{
    padding: 75px 85px;
}
.g2-font{
    padding: -150px 0px;
}